body {
  margin: 0;
  padding: 1rem;
  background-color: #fef6e4;
}
h1 {
  font-family: "DM Serif display";
  font-size: 40px;
  font-weight: 700;
  color: #001858;
  margin: 0;
}
h2 {
  font-family: "Elephant";
  font-size: 28px;
  font-weight: 700;
}
li {
  list-style: none;
}
.menu {
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    background-color: #8bd3dd;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 420px;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    transform: translateY(-110%);
    transition: transform 0.3s;
    margin: 0;
  }
  
  body > [type="checkbox"]:checked ~ .menu {
    transform: translateX(0);
  }
  
  body > [type="checkbox"]:checked ~ header label {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.25);
  }
  
  body > [type="checkbox"]:checked ~ main {
    z-index: 1;
    opacity: 0.5;
  }
  
  
  body > header .icon_menu {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("./img/menu-icon.svg");
    background-size: 30px;
    background-repeat: no-repeat;
  }
  .menu > h3 > .icon_menu {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("./img/close-menu-icon.svg");
    background-size: 30px;
    background-repeat: no-repeat;
  }

  .menu li:nth-of-type(1),
  .menu li:nth-of-type(3),
  .menu li:nth-of-type(5) {
    padding: 2rem;
  
  }
  .menu li:nth-of-type(2),
  .menu li:nth-of-type(4) {
    padding: 1rem;
  
  }
  
  .a11y,
  [type="checkbox"] {
    opacity: 0;
  }
  
  .menu ul {
    display: flex;
    flex-direction: column;
  }
  .menu__link {
    font-family: "Montserrat";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  
  }
  .menu__link--active {
      font-weight: bold;
  }
  
  body > nav > ul a:hover {
    opacity: 1;
  }
  
  body > [type="checkbox"],
  .icon_menu {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
  .masthead {
    background-image: url("./img/computing.JPG");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 400px;
    text-align: center;
    background-position: top 310px left 50%;
  }
  p {
    color: #172c66;
    font-family: "Gabriola";
    font-size: 22px;
  }
  a {
    text-decoration: none;
  }
  button {
    background-color: #8bd3dd;
    border: none;
    padding: 1rem;
    border-radius: 15px;
    color: #001858;
  }
  footer {
    text-align: center;
  }

  @media (min-width: 1114px) {
    body > header,
    main,
    footer,
    hr {
      max-width: 1114px;
      margin: 0 auto;
    }
    h1 {
      font-size: 70px;
    }
    main {
      padding-top: 10%;
    }
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 32px;
    }
  .menu {
    padding-right: 6rem;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none
  }
  
  /* Switch from column to row flex */
  .menu ul {
    flex-direction: row;
    padding: 1rem;
  }
  .menu__link {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
  }
  .menu li:nth-of-type(1),
  .menu li:nth-of-type(3),
  .menu li:nth-of-type(5) {
    padding: 1rem;
  
  }
  
.icon_menu {
    display: none;
    opacity: 0;
  }
  .masthead {
    text-align: left;
    padding-right: 50%;
    background-position: top 10% right 0;
    background-size: 50%;
  }
  .masthead p {
    margin: 0;
    width: 500px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  }
  